		.wrap{
			position: relative;
			
		}
		.pannel{
			float: left;
			margin-left: 300px;
			width: 400px;
			height: 600px;
			border: 1px solid;
		}
		.pannel td{
			position: relative;
			border: 1px solid;
			z-index: 0;
		}
		.footer{
			float:left;
			margin-top: 300px;
			margin-left: 300px;
		}
		.next table{
			width: 140px;
			height: 140px;
			border: 1px solid;
		}
		.next td{

			border: 1px solid;
		}
		.start{
			width: 100px;
			height: 30px;
			border-radius: 3px;
			background: #fff;
			border: 1px solid;
		}